html,body {
    height:100vh;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 00px;
}

.container .row .col-md-6 {
    height: 100vh;
    overflow: auto;
}

.margin-top {
    margin-top: 10px;
}